---
layout: default
title: Home Page
---


<div class="panel panel-default">
    <div class="panel-heading"><h3>博文</h3></div>
    <div class="panel-body">
        <ul>
            {% for post in site.posts %}
              <li>
                <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                <span class="post-date">[{{ post.category }}]</span>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </li>
            {% endfor %}
        </ul>
    </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-body">
          <ul>
              {% for video in site.data.videos %}
                <li>
                  <a href="https://www.bilibili.com/video/{{ video.avno }}">{{ video.name }}</a>
                </li>
              {% endfor %}
          </ul>
      </div>
    </div>